/* Navbar  */

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown img{
  width: 40px;
  border-radius: 50%;
}

/* Mon profile */

.conteneur{
  border: solid black;
}

.conteneur h1{
  text-align: center;
  margin: 1vh;
}

.profile{
  display: flex;
  padding-inline: 20vh;
  padding-block: 5vh;
}
.profile img{
  height: 15vh;
}

.info-profile{
  margin-inline: 5vh;
}


/* CV / Présentation */

.dispo {
  top: 0;
  height: 100%; /* Ajustez la hauteur selon vos besoins */
}
.row{
  margin-block: 20px;
}

.dispo{
  position: sticky;
  top: 0px;
}
