{% extends 'base.html.twig' %}

{% block body %}

       <table class="table table-dark table-striped" >
        <thead>
            <tr>
                
                <th>nom</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        

                <tr>
                    
                    <td>  {{ competences.competence }}  </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('user_list_profil', { 'id': competences.id }) }}">go</a>
                    </td>
                </tr>
        </tbody>
    </table>
{% endblock %}