
.profile-card {
    transition: 0.5s;
  }
  .profile-card:hover {
    transform: scale(1.3);
    transition: 0.5s;
  }
  .profile-photo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
  }
  .social-links ul {
    padding: 0px;
    margin: 0px;
  }
  .social-links ul li {
    list-style: none;
    display: inline-block;
    margin: 2px 0px;
    font-size: 20px;
  }
  
  .social-links ul li:hover a {
    background-color: #198754;
    color: #fff;
    transition: 0.5s;
  }



.row{

  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 30px;
   
}
.nav{
  border-radius: 30px;
  background-color:aliceblue;
 
}

.nav-item:hover {
  box-shadow: rgba(101, 173, 241, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.10) rotate(-4deg); 
  border-radius: 50px;
}


.nav-pills .nav-link.active{
  
  background-color: transparent;
}
