.card {
   
    margin-top: 30px;
    border-left: 100px;
    background: linear-gradient(90deg, rgb(98, 217, 98), rgb(81, 221, 231));
    font-family: monospace;
    text-align: center;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}
.card-body{
    background-image: url('/AllinOne/images/Fichier\ 1.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right; 
    
}

.row{
    background: linear-gradient(180deg, rgb(98, 217, 98), rgb(81, 221, 231));
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    
    
}
.nav{
    background: linear-gradient(180deg, rgb(98, 217, 98), rgb(81, 221, 231));
    border-radius: 30px;
   
}

.nav-item:hover {
    box-shadow: rgba(101, 173, 241, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.10) rotate(-4deg); 
    border-radius: 50px;
}


.card:hover {
  box-shadow: rgba(101, 173, 241, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.10) rotate(-4deg);

  
}
.nav-pills .nav-link.active{
    
    background-color: transparent;
}