/* Navbar  */

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown img{
  width: 40px;
  border-radius: 50%;
}

/* Banniere */

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Card */


svg{
  width: auto;
  height: auto;
  padding: 10%;
  color: rgb(17, 17, 17);
}
.card p{
  text-align: center;
  color: white;
}
.categories{
  margin-top: 3vh;
  margin-inline: 12vh;
}

.card-contener{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-top: 5vh;
}

.card{
  background-color: rgb(238, 232, 232);
  background-position: center;
  background-size: cover;
  width: 286px;
  height: 190px;

}

/* Barre de recherche */
.form-inline{
  display: flex;
}
.form-control{
  width: 50%;
}
