{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h2>Profil de {{ user.nom }}</h2>
<ul>
    <li>Nom : {{ user.nom }}</li>
    <li>Email : {{ user.email }}</li>
</ul>
{% endblock %}
